In [24]:
# 1. 데이터베이스 접속

import sqlite3

conn = sqlite3.connect('./test.db')

In [9]:
# conn = sqlite3.connect(':memory:')  # 메모리 DB 접속 (일회성)

In [25]:
# 2. 테이블 생성 : (작업영역 선택)

cur = conn.cursor()
cur.execute('CREATE TABLE IF NOT EXISTS Eagles \
    (back_no INT NOT NULL, \
     name TEXT, \
     position TEXT, \
     hands TEXT, \
     highschool TEXT, \
     height INT, \
     PRIMARY KEY(back_no));')

In [26]:
# 2.1 데이터 삽입 1 (추가)

cur = conn.cursor()
cur.execute("INSERT INTO Eagles VALUES \
    (1, '하주석', '내야수', '우투좌타', '신일고', 184), \
    (28, '양성우', '외야수', '우투좌타', '충암고', 177);")

# INSERT INTO table_name (fiel1, file2, ...) VALUES (value1, v2, ... );

OperationalError: database is locked

In [ ]:
# 변경사항 저장 

conn.commit()

In [ ]:
# 데이터 삽입 2 

cur = conn.cursor()
cur.execute("INSERT INTO Eagles('back_no', 'name', 'position') \ 
             VALUES (30, '호잉', '외야수');")

In [ ]:
# 변경사항 저장 
conn.commit()

In [23]:
# 2.1 테이블 삭제 방법

# cur.execute('DROP TABLE Eagles')

In [29]:
# 3. csv 파일을 데이터베이스에 추가하기 

# 3.1 파이썬으로 csv 파일 읽기 

import pandas as pd

players = pd.read_csv('./players.csv', encoding='EUC-KR')  # 인코딩, 경로 주의 
players

   back_no  name position hands highschool  height
0       17   김범수       투수  좌투좌타      천안북일고     181
1       38   안영명       투수  우투우타      천안북일고     183
2       36   장민재       투수  우투우타      광주제일고     184
3       13   최재훈       포수  우투우타        덕수고     178
4       52   김태균      내야수  우투우타      천안북일고     185
5        7   송광민      내야수  우투우타        공주고     184
6       50   이성열      내야수  우투우타      순천효천고     185
7       43   정은원      내야수  우투좌타        인천고     178
8        8   정근우      외야수  우투우타        부산고     172
9       25   최진행      외야수  우투우타      덕수정보고     188

In [30]:
# 3.2 파이썬에 있는 csv 파일을 데이터베이스에 쓰기

cur = conn.cursor()
sql = 'INSERT INTO Eagles VALUES (?, ?, ?, ?, ?, ?);'
for i in range(10):
    cur.execute(sql, (int(players.iloc[i,0]), # 데이터 타입 주의 
                      players.iloc[i,1], players.iloc[i,2], 
                      players.iloc[i,3], players.iloc[i,4], 
                      int(players.iloc[i,5])))
conn.commit() # 변경사항 저장

OperationalError: database is locked

## 데이터 조작

In [ ]:
# 순회조회

cur = conn.cursor()
cur.execute('SELECT * FROM Ealges')
for row in cur:
    print(row)