# 데이터분석

In [6]:
import pandas as pd
import numpy as np

import platform
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm

import seaborn as sns
import folium

font_fname = 'C:/Windows/Fonts/NanumBarunGothic.ttf'  # NanumBarunGothic.ttf를 원하는 폰트명으로 바꾼다.
font_family = fm.FontProperties(fname=font_fname).get_name() 
plt.rcParams['font.family'] = font_family

%matplotlib inline

In [7]:
folderpath = r'C:\Users\limwk\Desktop\소상공인시장진흥공단_상가업소정보_201906'

shop_2019_1 = pd.read_csv(folderpath+"/소상공인시장진흥공단_상가업소정보_201906_01.csv", encoding='utf-8')

In [8]:
shop_2019_1.head()

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
0,19911397,커피빈코리아선릉로93길점,코리아선릉로93길점,Q,음식,Q12,커피점/카페,Q12A01,커피전문점/카페/다방,I56220,...,1168010100106960042022041,NaN,서울특별시 강남구 선릉로93길 6,135080,6149.0,NaN,1,NaN,127.047883,37.505675
1,19911801,프로포즈,NaN,Q,음식,Q09,유흥주점,Q09A01,호프/맥주,I56219,...,1154510200101620001017748,NaN,서울특별시 금천구 가산로 34-6,153010,8545.0,NaN,1,NaN,126.899220,37.471711
2,19912201,싱싱커피&토스트,NaN,Q,음식,Q07,패스트푸드,Q07A10,토스트전문,I56192,...,2653010400105780000002037,산업용품유통상가,부산광역시 사상구 괘감로 37,617726,46977.0,NaN,1,26,128.980455,35.159774
3,19905471,와라와라호프,NaN,Q,음식,Q09,유흥주점,Q09A01,호프/맥주,I56219,...,1168010600106040000014378,대치상가,서울특별시 강남구 남부순환로 2933,135280,6280.0,NaN,1,NaN,127.061026,37.493922
4,19932756,가락사우나내스낵,NaN,F,생활서비스,F09,대중목욕탕/휴게,F09A02,사우나/증기탕/온천,S96121,...,1171010500102560005010490,NaN,서울특별시 송파구 가락로 71,138846,5690.0,NaN,1,NaN,127.104071,37.500249

In [9]:
shop_2019_1.shape # 행, 열 갯수 확인

(565016, 39)

In [10]:
shop_2019_1.columns

Index(['상가업소번호', '상호명', '지점명', '상권업종대분류코드', '상권업종대분류명', '상권업종중분류코드',
       '상권업종중분류명', '상권업종소분류코드', '상권업종소분류명', '표준산업분류코드', '표준산업분류명', '시도코드',
       '시도명', '시군구코드', '시군구명', '행정동코드', '행정동명', '법정동코드', '법정동명', '지번코드',
       '대지구분코드', '대지구분명', '지번본번지', '지번부번지', '지번주소', '도로명코드', '도로명', '건물본번지',
       '건물부번지', '건물관리번호', '건물명', '도로명주소', '구우편번호', '신우편번호', '동정보', '층정보',
       '호정보', '경도', '위도'],
      dtype='object')

In [13]:
coffee_1 = shop_2019_1[shop_2019_1['상권업종소분류명'].str.contains('커피')]

In [15]:
coffee_1.shape  # 커피/카페 업체가 23103개 있다.

(23103, 39)

In [18]:
coffee_1['상호명'].unique().shape  # 15205개의 상호명이 있다.

(15205,)

- 전반적인 데이터를 확인했으므로 전체 데이터를 합쳐보자.

In [19]:
shop_2019_2 = pd.read_csv(folderpath+"/소상공인시장진흥공단_상가업소정보_201906_02.csv", encoding='utf-8')
shop_2019_3 = pd.read_csv(folderpath+"/소상공인시장진흥공단_상가업소정보_201906_03.csv", encoding='utf-8')
shop_2019_4 = pd.read_csv(folderpath+"/소상공인시장진흥공단_상가업소정보_201906_04.csv", encoding='utf-8')

C:\anaconda\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (35) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\anaconda\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (35,36) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [22]:
# 데이터가 정상적으로 불러들여졌다.
print(shop_2019_2.shape)
print(shop_2019_3.shape)
print(shop_2019_4.shape)

(520497, 39)
(857672, 39)
(758611, 39)

In [27]:
shop_2019 = pd.concat([shop_2019_1, shop_2019_2, shop_2019_3, shop_2019_4], axis=0)
shop_2019.shape  # 행으로 데이터를 연결시켰다.

(2701796, 39)

In [29]:
coffee = shop_2019[shop_2019['상권업종소분류명'].str.contains('커피')]
coffee.shape

(93253, 39)

In [31]:
coffee = coffee[['상호명', '지점명', '시도명', '시군구명', '경도', '위도']]

In [32]:
coffee.shape

(93253, 6)

In [37]:
# 원본파일 저장

coffee.to_csv('data/2019_korea_coffee_shop.csv', header=True, index=False, encoding='euc-kr')

In [7]:
coffee = pd.read_csv('data/2019_korea_coffee_shop.csv', encoding='euc-kr')
coffee.shape

(93253, 6)

In [8]:
coffee.head()

             상호명         지점명    시도명  시군구명          경도         위도
0  커피빈코리아선릉로93길점  코리아선릉로93길점  서울특별시   강남구  127.047883  37.505675
1          스완카페트         NaN  서울특별시  영등포구  126.897710  37.503693
2             왕실         NaN  서울특별시    중구  126.982419  37.562274
3            커피빈      코리아교대점  서울특별시   서초구  127.014217  37.492388
4   고려대학교교육관쎄리오점         NaN  서울특별시   성북구  127.031702  37.588485

In [19]:
starbucks = coffee[coffee['상호명'].str.contains('스타벅스')]
starbucks.head()

                상호명    지점명    시도명  시군구명          경도         위도
28             스타벅스   이태원점  서울특별시   용산구  126.994781  37.534303
55        스타벅스종로3가점  종로3가점  서울특별시   종로구  126.990207  37.570585
106            스타벅스   신사2점  서울특별시   서초구  127.019763  37.513663
361  스타벅스커피여의도IFC1F    NaN  서울특별시  영등포구  126.924863  37.525172
363            스타벅스   삼성역점  서울특별시   강남구  127.063878  37.510038

In [70]:
st = starbucks.copy()
st = st.reset_index().drop('index', axis=1)
st.head()

              상호명    지점명    시도명  시군구명          경도         위도
0            스타벅스   이태원점  서울특별시   용산구  126.994781  37.534303
1       스타벅스종로3가점  종로3가점  서울특별시   종로구  126.990207  37.570585
2            스타벅스   신사2점  서울특별시   서초구  127.019763  37.513663
3  스타벅스커피여의도IFC1F    NaN  서울특별시  영등포구  126.924863  37.525172
4            스타벅스   삼성역점  서울특별시   강남구  127.063878  37.510038

In [71]:
for index, i in enumerate(st['상호명']):
    if len(i) >= 5:
        if i[:-1] == '점':
            st.iloc[index, 1] = i[4:-1]
        else:
            st.iloc[index, 1] = i[4:]
    if st.iloc[index, 1] == 'NaN':
        st.iloc[index, 1] = '-'
    else:
        continue

In [72]:
st.iloc[1:20, 1]

1          종로3가점
2           신사2점
3     커피여의도IFC1F
4           삼성역점
5         신림포도몰점
6         신림사거리점
7            NaN
8          커피홍대역
9           신사역점
10          문래역점
11          서강대점
12         새문안로점
13         까치산역점
14      올림픽평화의문점
15         영풍문고점
16          연신내역
17         코엑스몰점
18        연세백양로점
19        가락시장역점
Name: 지점명, dtype: object

In [83]:
st['지점명'].fillna('-')

0             이태원점
1            종로3가점
2             신사2점
3       커피여의도IFC1F
4             삼성역점
5           신림포도몰점
6           신림사거리점
7                -
8            커피홍대역
9             신사역점
10            문래역점
11            서강대점
12           새문안로점
13           까치산역점
14        올림픽평화의문점
15           영풍문고점
16            연신내역
17           코엑스몰점
18          연세백양로점
19          가락시장역점
20             외대점
21          보라매타운점
22          여의도일신점
23             석촌역
24            월곡역점
25           몬테소리점
26            명지대점
27            한티역점
28           청담공원점
29            서초동점
           ...
1403       양산덕계DT점
1404       경산중방DT점
1405         아산탕정점
1406             -
1407         여수웅천점
1408       계룡대로DT점
1409       제주신화월드점
1410       포항쌍용DT점
1411         천안청당점
1412           착한빵
1413        전주혁신도시
1414           미스리
1415      전주덕진광장DT
1416       창원호계DT점
1417     마산해안대로DT점
1418     전주백제대로DT점
1419       제주신화월드점
1420         창원역DT
1421         천안시청점
1422     전주덕진광장DT점
1423       진해자은DT점
1424       서산예천DT점
1425         제주시청점
1426         경주보문점
1427      공주동학사DT점
1428        마산역DT점
1429       김해구산DT점
1430         순천연향점
1431         아산배방점
1432         익산모현점
Name: 지점명, Length: 1433, dtype: object