# 데이터분석

In [6]:
import pandas as pd
import numpy as np

import platform
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm

import seaborn as sns
import folium

font_fname = 'C:/Windows/Fonts/NanumBarunGothic.ttf'  # NanumBarunGothic.ttf를 원하는 폰트명으로 바꾼다.
font_family = fm.FontProperties(fname=font_fname).get_name() 
plt.rcParams['font.family'] = font_family

%matplotlib inline

In [7]:
folderpath = r'C:\Users\limwk\Desktop\소상공인시장진흥공단_상가업소정보_201906'

shop_2019_1 = pd.read_csv(folderpath+"/소상공인시장진흥공단_상가업소정보_201906_01.csv", encoding='utf-8')

In [8]:
shop_2019_1.head()

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
0,19911397,커피빈코리아선릉로93길점,코리아선릉로93길점,Q,음식,Q12,커피점/카페,Q12A01,커피전문점/카페/다방,I56220,...,1168010100106960042022041,NaN,서울특별시 강남구 선릉로93길 6,135080,6149.0,NaN,1,NaN,127.047883,37.505675
1,19911801,프로포즈,NaN,Q,음식,Q09,유흥주점,Q09A01,호프/맥주,I56219,...,1154510200101620001017748,NaN,서울특별시 금천구 가산로 34-6,153010,8545.0,NaN,1,NaN,126.899220,37.471711
2,19912201,싱싱커피&토스트,NaN,Q,음식,Q07,패스트푸드,Q07A10,토스트전문,I56192,...,2653010400105780000002037,산업용품유통상가,부산광역시 사상구 괘감로 37,617726,46977.0,NaN,1,26,128.980455,35.159774
3,19905471,와라와라호프,NaN,Q,음식,Q09,유흥주점,Q09A01,호프/맥주,I56219,...,1168010600106040000014378,대치상가,서울특별시 강남구 남부순환로 2933,135280,6280.0,NaN,1,NaN,127.061026,37.493922
4,19932756,가락사우나내스낵,NaN,F,생활서비스,F09,대중목욕탕/휴게,F09A02,사우나/증기탕/온천,S96121,...,1171010500102560005010490,NaN,서울특별시 송파구 가락로 71,138846,5690.0,NaN,1,NaN,127.104071,37.500249

In [9]:
shop_2019_1.shape # 행, 열 갯수 확인

(565016, 39)

In [10]:
shop_2019_1.columns

Index(['상가업소번호', '상호명', '지점명', '상권업종대분류코드', '상권업종대분류명', '상권업종중분류코드',
       '상권업종중분류명', '상권업종소분류코드', '상권업종소분류명', '표준산업분류코드', '표준산업분류명', '시도코드',
       '시도명', '시군구코드', '시군구명', '행정동코드', '행정동명', '법정동코드', '법정동명', '지번코드',
       '대지구분코드', '대지구분명', '지번본번지', '지번부번지', '지번주소', '도로명코드', '도로명', '건물본번지',
       '건물부번지', '건물관리번호', '건물명', '도로명주소', '구우편번호', '신우편번호', '동정보', '층정보',
       '호정보', '경도', '위도'],
      dtype='object')

In [13]:
coffee_1 = shop_2019_1[shop_2019_1['상권업종소분류명'].str.contains('커피')]

In [15]:
coffee_1.shape  # 커피/카페 업체가 23103개 있다.

(23103, 39)

In [18]:
coffee_1['상호명'].unique().shape  # 15205개의 상호명이 있다.

(15205,)

- 전반적인 데이터를 확인했으므로 전체 데이터를 합쳐보자.

In [19]:
shop_2019_2 = pd.read_csv(folderpath+"/소상공인시장진흥공단_상가업소정보_201906_02.csv", encoding='utf-8')
shop_2019_3 = pd.read_csv(folderpath+"/소상공인시장진흥공단_상가업소정보_201906_03.csv", encoding='utf-8')
shop_2019_4 = pd.read_csv(folderpath+"/소상공인시장진흥공단_상가업소정보_201906_04.csv", encoding='utf-8')

C:\anaconda\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (35) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\anaconda\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (35,36) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [22]:
# 데이터가 정상적으로 불러들여졌다.
print(shop_2019_2.shape)
print(shop_2019_3.shape)
print(shop_2019_4.shape)

(520497, 39)
(857672, 39)
(758611, 39)

In [27]:
shop_2019 = pd.concat([shop_2019_1, shop_2019_2, shop_2019_3, shop_2019_4], axis=0)
shop_2019.shape  # 행으로 데이터를 연결시켰다.

(2701796, 39)

In [29]:
coffee = shop_2019[shop_2019['상권업종소분류명'].str.contains('커피')]
coffee.shape

(93253, 39)

In [31]:
coffee = coffee[['상호명', '지점명', '시도명', '시군구명', '경도', '위도']]

In [32]:
coffee.shape

(93253, 6)

In [37]:
# 원본파일 저장

coffee.to_csv('data/2019_korea_coffee_shop.csv', header=True, index=False, encoding='euc-kr')

In [7]:
coffee = pd.read_csv('data/2019_korea_coffee_shop.csv', encoding='euc-kr')
coffee.shape

(93253, 6)

In [203]:
starbucks = coffee[coffee['상호명'].str.contains('스타벅스')]
starbucks.head()

                상호명    지점명    시도명  시군구명          경도         위도
28             스타벅스   이태원점  서울특별시   용산구  126.994781  37.534303
55        스타벅스종로3가점  종로3가점  서울특별시   종로구  126.990207  37.570585
106            스타벅스   신사2점  서울특별시   서초구  127.019763  37.513663
361  스타벅스커피여의도IFC1F    NaN  서울특별시  영등포구  126.924863  37.525172
363            스타벅스   삼성역점  서울특별시   강남구  127.063878  37.510038

In [204]:
starbucks = starbucks.reset_index().drop('index', axis=1)
starbucks.head()

              상호명    지점명    시도명  시군구명          경도         위도
0            스타벅스   이태원점  서울특별시   용산구  126.994781  37.534303
1       스타벅스종로3가점  종로3가점  서울특별시   종로구  126.990207  37.570585
2            스타벅스   신사2점  서울특별시   서초구  127.019763  37.513663
3  스타벅스커피여의도IFC1F    NaN  서울특별시  영등포구  126.924863  37.525172
4            스타벅스   삼성역점  서울특별시   강남구  127.063878  37.510038

In [205]:
starbucks['지점명'] = starbucks['지점명'].fillna('-')

In [206]:
for index, i in enumerate(starbucks['상호명']):
    if starbucks.iloc[index, 0] != '스타벅스':
        if i[-1] == '점':
            starbucks.iloc[index, 1] = i[4:]
        else:
            starbucks.iloc[index, 1] = i[4:] + '점'
    elif starbucks.iloc[index, 0] == '스타벅스' and starbucks.iloc[index, 1][-1] == '점':
        starbucks.iloc[index, 1] = starbucks.iloc[index, 1]
    else:
        starbucks.iloc[index, 1] = starbucks.iloc[index, 1] + '점'

In [225]:
starbucks.head(10)

              상호명          지점명    시도명  시군구명          경도         위도
0            스타벅스         이태원점  서울특별시   용산구  126.994781  37.534303
1       스타벅스종로3가점        종로3가점  서울특별시   종로구  126.990207  37.570585
2            스타벅스         신사2점  서울특별시   서초구  127.019763  37.513663
3  스타벅스커피여의도IFC1F  커피여의도IFC1F점  서울특별시  영등포구  126.924863  37.525172
4            스타벅스         삼성역점  서울특별시   강남구  127.063878  37.510038
5            스타벅스       신림포도몰점  서울특별시   관악구  126.930216  37.483845
6      스타벅스신림사거리점       신림사거리점  서울특별시   관악구  126.930487  37.484631
7            스타벅스           -점  서울특별시   강동구  127.127021  37.538788
8       스타벅스커피홍대역       커피홍대역점  서울특별시   마포구  126.923599  37.557202
9            스타벅스         신사역점  서울특별시   강남구  127.020635  37.516184

- ID 생성

In [222]:
si_name = [None] * len(starbucks)  # 빈 리스트 생성 

tmp_gu_dict = {'수원':['장안구', '권선구', '팔달구', '영통구'], 
               '성남':['수정구', '중원구', '분당구'], 
               '안양':['만안구', '동안구'], 
               '안산':['상록구', '단원구'], 
               '고양':['덕양구', '일산동구', '일산서구'], 
               '용인':['처인구', '기흥구', '수지구'], 
               '청주':['상당구', '서원구', '흥덕구', '청원구'], 
               '천안':['동남구', '서북구'], 
               '전주':['완산구', '덕진구'], 
               '포항':['남구', '북구'], 
               '창원':['의창구', '성산구', '진해구', '마산합포구', '마산회원구'], 
               '부천':['오정구', '원미구', '소사구']}

In [231]:
def GetID(df):
    for n in df.index:
        if df['시도명'][n][-3:] not in ['광역시', '특별시', '자치시']:  # 광역시도 열에서 뒷 세자리가 '광역시', '특별시', '자치시' 가 아니면,
        
            # 같은 '시도' 이름을 가지는 고성 지역 처리
            if df['시군구명'][n].strip()[:-1]=='고성' and df['시도명'][n]=='강원도':  # '시도'가 고성이면서, '광역시도'가 강원도인 지역 처리
                si_name[n] = '고성(강원)'
            elif df['시군구명'][n].strip()[:-1]=='고성' and df['시도명'][n]=='경상남도':  # '시도'가 고성이면서, '광역시도가' 경남인 지역 처리
                si_name[n] = '고성(경남)'
            else:
                si_name[n] = df['시군구명'][n].strip()[:-1]  # 나머지 지역은 맨 뒤의 '구' 삭제 
        
            # 광역시가 아니면서 구를 가지고 있는 시 처리 
            for keys, values in tmp_gu_dict.items():
                if len(df['시군구명'][n]) >= 5 and df['시군구명'][n].strip()[:2] in keys:
                    if len(df['시군구명'][n].split()[1]) == 2:
                        si_name[n] = keys + ' ' + df['시군구명'][n].split()[1]
                    elif df['시군구명'][n] in ['마산합포구','마산회원구']:  # 마산합포와 회원구는 '합포', '회원'만 출력
                        si_name[n] = keys + ' ' + df['시군구명'][n].strip()[2:-1]
                    else:
                        si_name[n] = keys + ' ' + df['시군구명'][n].strip()[4:-1]  # 이름이 3자 이상이면, 맨 뒤의 '구' 삭제  
        
        elif df['시도명'][n] == '세종특별자치시':  # 세종자치시의 경우는 세종으로
            si_name[n] = '세종'
        
        else:  # tmp_gi_dict와 세종을 제외한 나머지 지역 처리 
            if len(df['시군구명'][n].strip()) >= 3:
                si_name[n] = df['시도명'][n][:2] + ' ' + df['시군구명'][n].strip()[:-1]
            else:
                si_name[n] = df['시도명'][n][:2] + ' ' + df['시군구명'][n].strip()
        
        print(si_name[n], n)

In [233]:
GetID(starbucks)

서울 용산 0
서울 종로 1
서울 서초 2
서울 영등포 3
서울 강남 4
서울 관악 5
서울 관악 6
서울 강동 7
서울 마포 8
서울 강남 9
서울 영등포 10
서울 마포 11
서울 종로 12
서울 강서 13
서울 송파 14
서울 종로 15
서울 은평 16
서울 강남 17
서울 서대문 18
서울 송파 19
서울 동대문 20
서울 동작 21
서울 영등포 22
서울 송파 23
서울 성북 24
서울 서초 25
서울 서대문 26
서울 강남 27
서울 강남 28
서울 서초 29
서울 강남 30
서울 서대문 31
서울 중구 32
부산 해운대 33
서울 서대문 34
부산 남구 35
서울 서대문 36
서울 중구 37
서울 서초 38
서울 관악 39
서울 용산 40
서울 관악 41
서울 강남 42
서울 관악 43
서울 강서 44
서울 광진 45
서울 강서 46
서울 강남 47
서울 성북 48
서울 광진 49
서울 영등포 50
서울 송파 51
서울 서대문 52
서울 중구 53
서울 중구 54
서울 강남 55
서울 광진 56
서울 중랑 57
서울 서대문 58
서울 성북 59
서울 종로 60
서울 중구 61
서울 서초 62
서울 성북 63
서울 송파 64
서울 강동 65
서울 영등포 66
서울 서대문 67
부산 남구 68
서울 서초 69
서울 서초 70
서울 강남 71
서울 강남 72
부산 수영 73
서울 금천 74
부산 동래 75
부산 북구 76
서울 중구 77
서울 강남 78
부산 금정 79
부산 동구 80
서울 종로 81
서울 강남 82
서울 용산 83
부산 부산진 84
서울 마포 85
서울 강동 86
서울 광진 87
서울 서초 88
부산 동래 89
서울 노원 90
서울 중구 91
부산 중구 92
서울 강북 93
서울 서대문 94
서울 서초 95
서울 동대문 96
서울 강남 97
서울 서초 98
서울 마포 99
서울 종로 100
부산 북구 101
부산 사하 102
부산 해운대 103
서울 서초 104
서울 종로 105
서울 구로 106
서울 서초 107
서울 강남 108
서울 영등포 109
서울 강남 110
서울 서초 111
서울 중랑 112
서울 강서 113
서울 종로 114
서울 강남 115
서울 강남 116
부산 부산진 117
서울 강남 118
부산 부산진 119
서울 용산 120
부산 부산진 121
서울 광진 122
서울 영등포 123
부산 중구 124
서울 종로 125
서울 강남 126
서울 강남 127
서울 노원 128
서울 강남 129
서울 중구 130
서울 동작 131
서울 강남 132
서울 강북 133
서울 금천 134
서울 성북 135
서울 노원 136
서울 중구 137
서울 종로 138
서울 강남 139
서울 구로 140
서울 용산 141
서울 강남 142
서울 구로 143
부산 연제 144
부산 연제 145
서울 중구 146
서울 서초 147
서울 중구 148
부산 중구 149
부산 사하 150
서울 동대문 151
서울 중구 152
서울 구로 153
서울 서초 154
서울 중구 155
서울 양천 156
서울 강남 157
서울 중구 158
서울 성동 159
서울 강동 160
서울 용산 161
서울 강남 162
서울 영등포 163
서울 서초 164
부산 부산진 165
서울 서초 166
서울 강남 167
서울 서초 168
서울 영등포 169
서울 종로 170
서울 강북 171
부산 부산진 172
서울 강남 173
서울 종로 174
서울 송파 175
서울 광진 176
서울 서초 177
서울 종로 178
서울 강남 179
서울 강동 180
부산 연제 181
서울 중구 182
서울 강남 183
부산 금정 184
서울 서초 185
서울 송파 186
서울 중구 187
서울 용산 188
서울 종로 189
부산 금정 190
서울 서초 191
서울 서대문 192
서울 영등포 193
부산 동구 194
서울 중구 195
부산 사하 196
서울 성동 197
서울 서초 198
서울 종로 199
서울 종로 200
서울 영등포 201
서울 종로 202
서울 강동 203
서울 금천 204
부산 해운대 205
부산 해운대 206
서울 중구 207
서울 강남 208
서울 송파 209
서울 중구 210
서울 서대문 211
서울 서초 212
서울 중랑 213
서울 중랑 214
서울 강남 215
서울 광진 216
서울 서초 217
서울 광진 218
부산 서구 219
서울 은평 220
부산 기장 221
서울 송파 222
부산 금정 223
서울 용산 224
서울 은평 225
부산 해운대 226
서울 관악 227
부산 부산진 228
서울 구로 229
부산 부산진 230
서울 강남 231
서울 송파 232
부산 해운대 233
부산 부산진 234
서울 금천 235
서울 서대문 236
서울 강남 237
서울 강남 238
서울 성북 239
서울 강남 240
부산 해운대 241
서울 송파 242
서울 중구 243
서울 강남 244
서울 강남 245
서울 마포 246
서울 성북 247
서울 강남 248
서울 송파 249
서울 마포 250
부산 부산진 251
서울 서초 252
서울 강동 253
부산 수영 254
서울 노원 255
서울 은평 256
서울 송파 257
부산 해운대 258
서울 강동 259
서울 서초 260
서울 양천 261
서울 강남 262
서울 노원 263
부산 해운대 264
서울 중구 265
서울 중랑 266
서울 금천 267
부산 해운대 268
서울 중구 269
서울 금천 270
서울 중구 271
서울 구로 272
서울 강남 273
서울 도봉 274
서울 마포 275
서울 서초 276
서울 중구 277
서울 종로 278
서울 중구 279
서울 용산 280
서울 중구 281
서울 영등포 282
서울 서초 283
서울 성북 284
서울 중구 285
부산 부산진 286
서울 서초 287
서울 강남 288
부산 해운대 289
서울 노원 290
부산 서구 291
부산 부산진 292
서울 노원 293
부산 동래 294
서울 강동 295
서울 서대문 296
서울 강남 297
서울 중구 298
서울 종로 299
서울 구로 300
서울 영등포 301
서울 마포 302
서울 종로 303
서울 송파 304
서울 동작 305
부산 남구 306
서울 종로 307
부산 해운대 308
서울 영등포 309
서울 동대문 310
서울 강남 311
서울 영등포 312
부산 사상 313
서울 강남 314
부산 부산진 315
서울 강남 316
서울 마포 317
서울 광진 318
서울 용산 319
서울 강동 320
서울 강남 321
부산 해운대 322
서울 구로 323
서울 서초 324
서울 강남 325
서울 마포 326
서울 광진 327
서울 영등포 328
서울 종로 329
서울 은평 330
부산 해운대 331
부산 사하 332
서울 마포 333
서울 양천 334
서울 강남 335
서울 서초 336
서울 영등포 337
부산 부산진 338
서울 용산 339
부산 중구 340
서울 성북 341
서울 영등포 342
서울 송파 343
부산 동구 344
서울 마포 345
서울 구로 346
서울 중구 347
서울 서초 348
서울 종로 349
부산 부산진 350
서울 은평 351
서울 중구 352
서울 종로 353
서울 마포 354
서울 강남 355
서울 강남 356
부산 부산진 357
서울 종로 358
서울 마포 359
서울 강남 360
서울 강남 361
서울 금천 362
서울 광진 363
서울 중구 364
서울 중구 365
서울 마포 366
서울 강남 367
부산 사하 368
서울 중구 369
서울 성북 370
서울 영등포 371
서울 광진 372
서울 종로 373
서울 종로 374
서울 강남 375
서울 강남 376
서울 강남 377
서울 강남 378
부산 동구 379
부산 금정 380
서울 강남 381
서울 양천 382
서울 중구 383
서울 서대문 384
서울 마포 385
서울 성동 386
서울 강남 387
서울 종로 388
서울 마포 389
서울 강남 390
서울 양천 391
서울 서초 392
서울 광진 393
서울 마포 394
서울 강남 395
서울 중구 396
서울 종로 397
서울 강남 398
서울 강남 399
서울 영등포 400
서울 강북 401
서울 영등포 402
서울 강동 403
서울 송파 404
부산 해운대 405
부산 부산진 406
서울 강남 407
서울 중구 408
서울 양천 409
부산 강서 410
서울 중랑 411
서울 영등포 412
서울 중구 413
서울 종로 414
서울 영등포 415
서울 용산 416
서울 마포 417
서울 서초 418
서울 강남 419
부산 연제 420
서울 중구 421
서울 성북 422
서울 강남 423
부산 동래 424
서울 동대문 425
서울 강서 426
서울 송파 427
서울 서초 428
서울 강서 429
서울 중구 430
서울 중구 431
서울 강남 432
부산 기장 433
서울 중구 434
서울 영등포 435
서울 마포 436
부산 부산진 437
서울 강서 438
서울 서대문 439
서울 마포 440
서울 강동 441
서울 동작 442
서울 영등포 443
서울 중구 444
서울 중구 445
서울 중구 446
서울 강남 447
서울 서초 448
서울 중구 449
서울 관악 450
서울 동작 451
서울 강남 452
서울 성북 453
서울 영등포 454
서울 강북 455
서울 용산 456
부산 수영 457
서울 마포 458
서울 양천 459
서울 강서 460
부산 사하 461
서울 금천 462
서울 중구 463
서울 강남 464
서울 강동 465
부산 해운대 466
서울 강남 467
서울 마포 468
부산 기장 469
부산 기장 470
서울 중구 471
부산 기장 472
서울 송파 473
부산 해운대 474
서울 영등포 475
부산 동래 476
서울 양천 477
서울 서초 478
서울 강남 479
서울 용산 480
서울 마포 481
서울 서대문 482
서울 중구 483
부산 수영 484
서울 강남 485
서울 동대문 486
서울 서초 487
부산 수영 488
서울 마포 489
부산 사하 490
서울 관악 491
서울 강서 492
서울 강서 493
서울 마포 494
서울 강남 495
서울 영등포 496
서울 중구 497
서울 용산 498
서울 송파 499
서울 중구 500
서울 강서 501
부산 중구 502
서울 동대문 503
서울 서초 504
부산 중구 505
서울 서초 506
서울 성동 507
서울 노원 508
부산 남구 509
서울 영등포 510
서울 송파 511
부산 연제 512
서울 강남 513
서울 송파 514
서울 강서 515
서울 서대문 516
서울 구로 517
서울 송파 518
서울 은평 519
서울 서초 520
부산 남구 521
서울 중구 522
서울 은평 523
부산 수영 524
서울 동대문 525
서울 중구 526
서울 금천 527
서울 송파 528
서울 송파 529
서울 금천 530
서울 서초 531
서울 중구 532
서울 성북 533
서울 성동 534
서울 강서 535
서울 양천 536
서울 중구 537
서울 강남 538
서울 강남 539
서울 노원 540
서울 강서 541
부산 중구 542
서울 용산 543
서울 동작 544
부산 해운대 545
서울 광진 546
서울 관악 547
서울 마포 548
부산 금정 549
서울 마포 550
서울 동작 551
부산 사상 552
서울 성동 553
서울 구로 554
부산 금정 555
서울 서대문 556
서울 용산 557
서울 마포 558
서울 송파 559
부산 해운대 560
서울 금천 561
서울 용산 562
서울 서초 563
서울 은평 564
서울 강서 565
서울 서초 566
서울 강남 567
서울 송파 568
서울 서초 569
서울 종로 570
부산 부산진 571
서울 금천 572
부산 해운대 573
서울 종로 574
부산 동래 575
부산 금정 576
서울 송파 577
서울 강남 578
부산 해운대 579
서울 강서 580
서울 마포 581
서울 서초 582
서울 은평 583
서울 용산 584
서울 강남 585
서울 서초 586
부산 해운대 587
서울 영등포 588
서울 강서 589
서울 송파 590
서울 용산 591
부산 수영 592
서울 강남 593
서울 중구 594
서울 금천 595
서울 양천 596
서울 동작 597
서울 종로 598
서울 강남 599
서울 서대문 600
울산 중구 601
대구 중구 602
대구 수성 603
대구 달서 604
울산 남구 605
인천 서구 606
대구 달서 607
광주 동구 608
대전 동구 609
광주 서구 610
대전 유성 611
광주 광산 612
인천 남동 613
대전 중구 614
광주 광산 615
광주 동구 616
대구 달성 617
인천 연수 618
대구 중구 619
대전 서구 620
광주 북구 621
울산 중구 622
대구 중구 623
대전 서구 624
대전 서구 625
인천 남동 626
대전 대덕 627
인천 부평 628
대전 동구 629
대구 서구 630
대구 수성 631
대구 수성 632
대구 동구 633
대구 수성 634
대전 동구 635
대구 동구 636
광주 서구 637
대구 수성 638
대구 중구 639
인천 동구 640
대구 동구 641
대전 서구 642
대전 유성 643
대전 서구 644
광주 서구 645
대구 달서 646
대구 달서 647
광주 동구 648
인천 계양 649
울산 남구 650
인천 부평 651
대구 수성 652
울산 남구 653
울산 남구 654
인천 서구 655
대전 유성 656
광주 북구 657
대구 남구 658
대전 서구 659
울산 북구 660
대구 수성 661
인천 서구 662
인천 부평 663
광주 광산 664
인천 부평 665
대구 동구 666
대전 서구 667
광주 동구 668
대구 달서 669
대전 서구 670
대구 달서 671
광주 동구 672
광주 서구 673
대구 달서 674
대구 북구 675
울산 동구 676
인천 남동 677
광주 서구 678
대전 유성 679
울산 중구 680
인천 연수 681
울산 남구 682
광주 광산 683
광주 동구 684
인천 연수 685
대전 동구 686
광주 북구 687
대전 서구 688
인천 중구 689
울산 남구 690
인천 서구 691
인천 남구 692
인천 부평 693
인천 남동 694
인천 남구 695
인천 중구 696
대구 수성 697
광주 광산 698
대구 수성 699
인천 남구 700
인천 남구 701
대구 서구 702
대구 달성 703
인천 부평 704
인천 부평 705
인천 남구 706
인천 남동 707
인천 서구 708
대구 남구 709
대전 대덕 710
인천 서구 711
인천 남구 712
대구 중구 713
대구 중구 714
대전 중구 715
울산 동구 716
광주 남구 717
광주 북구 718
인천 부평 719
울산 남구 720
광주 광산 721
대구 달서 722
대전 서구 723
인천 연수 724
대전 서구 725
광주 서구 726
대구 수성 727
광주 광산 728
인천 연수 729
대전 유성 730
울산 남구 731
인천 남구 732
대구 수성 733
인천 남동 734
광주 북구 735
인천 부평 736
인천 남구 737
대구 북구 738
대전 서구 739
대구 달서 740
대구 동구 741
인천 부평 742
인천 부평 743
대전 중구 744
대전 서구 745
광주 남구 746
인천 부평 747
광주 서구 748
광주 서구 749
인천 남구 750
대전 유성 751
대구 중구 752
세종 753
대구 중구 754
인천 동구 755
인천 남동 756
대전 서구 757
세종 758
인천 계양 759
울산 남구 760
대구 달서 761
대구 북구 762
대전 서구 763
대구 달서 764
광주 서구 765
대구 동구 766
대구 수성 767
대구 달서 768
광주 북구 769
대구 중구 770
광주 서구 771
대구 중구 772
울산 남구 773
울산 울주 774
인천 남구 775
대구 중구 776
대전 유성 777
대전 대덕 778
울산 남구 779
광주 남구 780
대전 대덕 781
대전 서구 782
대구 남구 783
울산 남구 784
대전 동구 785
광주 남구 786
울산 남구 787
광주 서구 788
대구 수성 789
대구 수성 790
대전 서구 791
울산 남구 792
인천 연수 793
인천 연수 794
대전 서구 795
대전 서구 796
대구 달서 797
울산 남구 798
대구 북구 799
세종 800
인천 남동 801
대구 달서 802
대전 서구 803
세종 804
대구 중구 805
대구 수성 806
광주 광산 807
대구 중구 808
대전 중구 809
인천 연수 810
대구 달서 811
대구 북구 812
광주 광산 813
울산 북구 814
울산 중구 815
광주 서구 816
대구 서구 817
인천 연수 818
광주 남구 819
대구 수성 820
울산 북구 821
광주 남구 822
세종 823
대전 유성 824
대전 유성 825
인천 남동 826
대구 달성 827
광주 광산 828
대전 중구 829
대전 서구 830
대구 달서 831
대구 달서 832
광주 북구 833
인천 남동 834
대전 유성 835
울산 남구 836
인천 남동 837
대구 동구 838
세종 839
인천 서구 840
인천 부평 841
광주 남구 842
광주 광산 843
대전 대덕 844
대구 수성 845
울산 중구 846
인천 남동 847
광주 북구 848
울산 북구 849
울산 중구 850
광주 북구 851
광주 동구 852
광주 광산 853
대구 달성 854
인천 남동 855
대구 수성 856
울산 동구 857
대구 북구 858
광주 광산 859
광주 북구 860
대구 수성 861
대전 대덕 862
울산 남구 863
세종 864
인천 연수 865
대전 서구 866
대전 서구 867
대구 달서 868
대구 수성 869
인천 연수 870
대전 서구 871
광주 서구 872
울산 중구 873
인천 중구 874
광주 남구 875
대전 서구 876
대구 중구 877
대구 달서 878
인천 연수 879
광주 북구 880
광주 광산 881
광주 광산 882
대구 수성 883
수원 권선 884
원주 885
김포 886
고양 일산서 887
충주 888
성남 분당 889
구리 890
성남 중원 891
안양 동안 892
수원 영통 893
수원 영통 894
성남 분당 895
광주 896
수원 팔달 897
성남 분당 898
홍천 899
용인 수지 900
성남 분당 901
용인 수지 902

오산 903
성남 분당 904
부천 905
고양 덕양 906
광명 907
군포 908
부천 909
성남 분당 910
부천 911
고양 일산동 912
시흥 913
수원 권선 914
수원 영통 915
청주 흥덕 916
양주 917
청주 흥덕 918
안양 만안 919
고양 덕양 920
김포 921
안양 동안 922
군포 923
고양 일산서 924
성남 분당 925
오산 926
수원 장안 927
고양 일산동 928
성남 분당 929
용인 기흥 930
수원 팔달 931
청주 상당 932
고성(강원) 933
성남 분당 934
청주 흥덕 935
수원 팔달 936
용인 수지 937
수원 팔달 938
부천 939
청주 흥덕 940
춘천 941
청주 서원 942
고양 일산동 943
이천 944
고양 일산동 945
충주 946
충주 947
성남 분당 948
용인 수지 949
용인 기흥 950
성남 분당 951
부천 952
김포 953
성남 분당 954
성남 분당 955
성남 분당 956
화성 957
성남 분당 958
성남 분당 959
수원 팔달 960
안산 단원 961
성남 분당 962
하남 963
안양 만안 964
성남 분당 965
부천 966
용인 기흥 967
파주 968
용인 기흥 969
이천 970
청주 상당 971
청주 청원 972
이천 973
부천 974
남양주 975
속초 976
고양 일산동 977
의정부 978
파주 979
구리 980
용인 수지 981
안양 동안 982
안양 동안 983
성남 분당 984
안양 동안 985
성남 분당 986
성남 분당 987
성남 분당 988
용인 처인 989
성남 분당 990
안성 991
성남 분당 992
강릉 993
수원 영통 994
평택 995
고양 일산서 996
성남 분당 997
춘천 998
고양 일산동 999
성남 분당 1000
성남 분당 1001
안양 동안 1002
수원 영통 1003
고양 일산서 1004
고양 일산서 1005
성남 분당 1006
안성 1007
음성 1008
안산 단원 1009
삼척 1010
원주 1011
동두천 1012
고성(강원) 1013
오산 1014
고양 덕양 1015
고양 덕양 1016
태백 1017
포천 1018
구리 1019
안성 1020
인제 1021
평택 1022
광주 1023
성남 분당 1024
평택 1025
양주 1026
평택 1027
화성 1028
부천 1029
성남 분당 1030
수원 영통 1031
용인 수지 1032
김포 1033
고양 일산서 1034
청주 흥덕 1035
파주 1036
여주 1037
용인 처인 1038
이천 1039
이천 1040
평창 1041
안산 단원 1042
성남 분당 1043
의정부 1044
수원 팔달 1045
수원 영통 1046
안산 단원 1047
화성 1048
부천 1049
군포 1050
수원 팔달 1051
용인 기흥 1052
안산 상록 1053
안산 상록 1054
춘천 1055
포천 1056
원주 1057
평택 1058
안산 단원 1059
수원 팔달 1060
부천 1061
파주 1062
고양 일산서 1063
고양 일산동 1064
원주 1065
강릉 1066
고양 일산동 1067
용인 수지 1068
성남 분당 1069
광명 1070
김포 1071
성남 분당 1072
성남 분당 1073
고양 일산동 1074
남양주 1075
부천 1076
강릉 1077
수원 영통 1078
성남 분당 1079
평택 1080
김포 1081
과천 1082
화성 1083
고양 일산서 1084
고양 일산서 1085
화성 1086
안양 동안 1087
안산 단원 1088
고양 일산동 1089
과천 1090
청주 청원 1091
청주 서원 1092
고양 일산동 1093
안양 동안 1094
성남 분당 1095
김포 1096
속초 1097
의정부 1098
고양 덕양 1099
김포 1100
고양 덕양 1101
성남 수정 1102
화성 1103
용인 수지 1104
양평 1105
안양 만안 1106
부천 1107
평창 1108
수원 팔달 1109
성남 분당 1110
청주 흥덕 1111
수원 영통 1112
원주 1113
춘천 1114
하남 1115
청주 흥덕 1116
수원 팔달 1117
남양주 1118
청주 상당 1119
성남 분당 1120
동두천 1121
성남 분당 1122
화성 1123
광명 1124
고양 덕양 1125
용인 기흥 1126
춘천 1127
춘천 1128
고양 덕양 1129
성남 분당 1130
안양 동안 1131
청주 흥덕 1132
하남 1133
청주 청원 1134
용인 처인 1135
동두천 1136
용인 기흥 1137
용인 처인 1138
의정부 1139
원주 1140
시흥 1141
화성 1142
춘천 1143
광명 1144
속초 1145
춘천 1146
속초 1147
동해 1148
성남 분당 1149
고양 덕양 1150
평택 1151
부천 1152
성남 분당 1153
고양 덕양 1154
수원 팔달 1155
고양 일산동 1156
고양 덕양 1157
원주 1158
광명 1159
화성 1160
남양주 1161
광명 1162
하남 1163
의정부 1164
원주 1165
남양주 1166
과천 1167
남양주 1168
성남 분당 1169
고양 일산서 1170
고양 덕양 1171
고양 덕양 1172
고양 덕양 1173
광주 1174
안양 동안 1175
의정부 1176
고양 덕양 1177
의정부 1178
수원 권선 1179
이천 1180
김포 1181
고양 덕양 1182
충주 1183
성남 분당 1184
화성 1185
수원 권선 1186
시흥 1187
부천 1188
김포 1189
광명 1190
의정부 1191
고양 일산동 1192
안양 동안 1193
포천 1194
이천 1195
시흥 1196
성남 수정 1197
청주 상당 1198
수원 장안 1199
고양 일산서 1200
포천 1201
청주 상당 1202
고양 일산동 1203
제천 1204
양평 1205
수원 장안 1206
성남 분당 1207
충주 1208
화성 1209
수원 팔달 1210
포천 1211
안양 동안 1212
김포 1213
고양 일산동 1214
수원 영통 1215
여주 1216
원주 1217
용인 기흥 1218
과천 1219
군포 1220
광명 1221
광주 1222
안성 1223
수원 영통 1224
양주 1225
의정부 1226
고양 일산서 1227
원주 1228
하남 1229
청주 서원 1230
오산 1231
용인 수지 1232
화성 1233
수원 영통 1234
청주 상당 1235
아산 1236
서귀포 1237
천안 서북 1238
진주 1239
전주 완산 1240
진주 1241
군산 1242
전주 완산 1243
양산 1244
전주 완산 1245
김해 1246
공주 1247
서귀포 1248
진주 1249
경산 1250
제주 1251
경주 1252
구미 1253
양산 1254
논산 1255
당진 1256
목포 1257
경주 1258
사천 1259
경산 1260
서산 1261
경주 1262
순천 1263
경주 1264
구미 1265
창원 의창 1266
구미 1267
통영 1268
거제 1269
포항 남구 1270
구미 1271
포항 북구 1272
서귀포 1273
안동 1274
김해 1275
거제 1276
문경 1277
천안 서북 1278
경산 1279
안동 1280
포항 북구 1281
전주 완산 1282
제주 1283
창원 마산회원 1284
경주 1285
포항 남구 1286
서귀포 1287
거제 1288
구미 1289
천안 동남 1290
포항 남구 1291
창원 의창 1292
목포 1293
창원 성산 1294
창원 의창 1295
전주 완산 1296
아산 1297
제주 1298
서귀포 1299
아산 1300
나주 1301
서천 1302
전주 덕진 1303
하동 1304
안동 1305
칠곡 1306
임실 1307
청도 1308
익산 1309
통영 1310
당진 1311
순창 1312
서산 1313
영양 1314
영덕 1315
창녕 1316
창녕 1317
당진 1318
아산 1319
광양 1320
경산 1321
양산 1322
제주 1323
경주 1324
천안 서북 1325
창원 성산 1326
창원 마산합포 1327
포항 북구 1328
고령 1329
서귀포 1330
창원 성산 1331
여수 1332
포항 북구 1333
김해 1334
구미 1335
전주 덕진 1336
제주 1337
여수 1338
김해 1339
천안 서북 1340
전주 완산 1341
천안 동남 1342
진주 1343
김해 1344
창원 마산합포 1345
군산 1346
전주 완산 1347
창원 진해 1348
거제 1349
포항 남구 1350
창원 성산 1351
제주 1352
산청 1353
진주 1354
포항 남구 1355
무안 1356
창원 성산 1357
목포 1358
서귀포 1359
구미 1360
부안 1361
전주 완산 1362
진주 1363
진주 1364
서귀포 1365
서귀포 1366
김천 1367
경주 1368
익산 1369
함양 1370
여수 1371
창원 마산회원 1372
경산 1373
포항 남구 1374
여수 1375
김해 1376
김해 1377
아산 1378
여수 1379
순천 1380
천안 동남 1381
예산 1382
제주 1383
포항 남구 1384
천안 동남 1385
광양 1386
김해 1387
청양 1388
천안 서북 1389
천안 서북 1390
익산 1391
제주 1392
아산 1393
천안 동남 1394
서귀포 1395
창원 성산 1396
포항 북구 1397
순천 1398
서귀포 1399
서산 1400
경산 1401
목포 1402
양산 1403
경산 1404
아산 1405
천안 동남 1406
여수 1407
계룡 1408
서귀포 1409
포항 남구 1410
천안 동남 1411
보령 1412
전주 완산 1413
밀양 1414
전주 덕진 1415
창원 마산회원 1416
창원 마산합포 1417
전주 완산 1418
서귀포 1419
창원 의창 1420
천안 서북 1421
전주 덕진 1422
창원 진해 1423
서산 1424
제주 1425
경주 1426
공주 1427
창원 마산회원 1428
김해 1429
순천 1430
아산 1431
익산 1432

In [237]:
starbucks['ID'] = si_name
starbucks['스타벅스 매장수'] = 1

starbucks.head()

,상호명,지점명,시도명,시군구명,경도,위도,ID,스타벅스 매장수
0,스타벅스,이태원점,서울특별시,용산구,126.994781,37.534303,서울 용산,1
1,스타벅스종로3가점,종로3가점,서울특별시,종로구,126.990207,37.570585,서울 종로,1
2,스타벅스,신사2점,서울특별시,서초구,127.019763,37.513663,서울 서초,1
3,스타벅스커피여의도IFC1F,커피여의도IFC1F점,서울특별시,영등포구,126.924863,37.525172,서울 영등포,1
4,스타벅스,삼성역점,서울특별시,강남구,127.063878,37.510038,서울 강남,1

In [238]:
starbucks.to_csv('data/starbucks.csv', encoding='euc-kr')