# SQLite 다루기

## **1. 데이터베이스 접속**

In [57]:
import sqlite3

conn = sqlite3.connect('./test.db')

In [9]:
# conn = sqlite3.connect(':memory:')  # 메모리 DB 접속 (일회성)

## **2. 테이블 생성 (작업영역 선택)**

In [68]:
cur = conn.cursor()
cur.execute('CREATE TABLE IF NOT EXISTS Eagles \
    (back_no INT NOT NULL, \
     name TEXT, \
     position TEXT, \
     hands TEXT, \
     highschool TEXT, \
     height INT, \
     PRIMARY KEY(back_no));')

## **3. 데이터 추가(insert)**

- INSERT INTO table_name (fiel1, file2, ...) VALUES (value1, v2, ... );

In [69]:
# 데이터 직접 추가 1

cur = conn.cursor()
cur.execute("INSERT INTO Eagles VALUES \
    (1, '하주석', '내야수', '우투좌타', '신일고', 184), \
    (28, '양성우', '외야수', '우투좌타', '충암고', 177);")

conn.commit()

In [72]:
# 데이터 직접 추가 2

cur = conn.cursor()
cur.execute("INSERT INTO Eagles('back_no', 'name', 'position') \
             VALUES (30, '호잉', '외야수');")

conn.commit()

## **4. 테이블 삭제**

In [73]:
# cur.execute('DROP TABLE Eagles')  # 테이블을 삭제할 필요가 있을 때 실행

## **5. 파이썬으로 csv 파일을 읽은 후 데이터베이스에 저장**

### **5.1 파이썬으로 csv파일 읽기**

In [76]:
import pandas as pd

players = pd.read_csv('./players.csv', encoding='EUC-KR')  # 인코딩, 경로 주의 
players

   back_no  name position hands highschool  height
0       17   김범수       투수  좌투좌타      천안북일고     181
1       38   안영명       투수  우투우타      천안북일고     183
2       36   장민재       투수  우투우타      광주제일고     184
3       13   최재훈       포수  우투우타        덕수고     178
4       52   김태균      내야수  우투우타      천안북일고     185
5        7   송광민      내야수  우투우타        공주고     184
6       50   이성열      내야수  우투우타      순천효천고     185
7       43   정은원      내야수  우투좌타        인천고     178
8        8   정근우      외야수  우투우타        부산고     172
9       25   최진행      외야수  우투우타      덕수정보고     188

### **5.3 읽은 csv 파일을 데이터베이스에 추가**

In [77]:
cur = conn.cursor()
sql = 'INSERT INTO Eagles VALUES (?, ?, ?, ?, ?, ?);'
for i in range(10):
    cur.execute(sql, (int(players.iloc[i,0]), # 데이터 타입 주의 
                      players.iloc[i,1], players.iloc[i,2], 
                      players.iloc[i,3], players.iloc[i,4], 
                      int(players.iloc[i,5])))
conn.commit() # 변경사항 저장

# 데이터 조작 언어(Data Manipulation Language, DML)

## **1. 데이터 조회**

### **1.1 순회조회**

In [22]:
cur = conn.cursor()
cur.execute('SELECT * FROM Eagles')
for row in cur:
    print(row)

(1, '하주석', '내야수', '우투좌타', '신일고', 184)
(28, '양성우', '외야수', '우투좌타', '충암고', 177)
(17, '김범수', '투수', '좌투좌타', '천안북일고', 181)
(38, '안영명', '투수', '우투우타', '천안북일고', 183)
(36, '장민재', '투수', '우투우타', '광주제일고', 184)
(13, '최재훈', '포수', '우투우타', '덕수고', 178)
(52, '김태균', '내야수', '우투우타', '천안북일고', 185)
(7, ' 송광민', '내야수', '우투우타', '공주고', 184)
(50, '이성열', '내야수', '우투우타', '순천효천고', 185)
(43, '정은원', '내야수', '우투좌타', '인천고', 178)
(8, ' 정근우', '외야수', '우투우타', '부산고', 172)
(25, '최진행', '외야수', '우투우타', '덕수정보고', 188)

### **1.2 단건조회**

In [23]:
cur=conn.cursor()
cur.execute('SELECT * FROM Eagles')
row = cur.fetchone()
print(row)

(1, '하주석', '내야수', '우투좌타', '신일고', 184)

### **1.3 다건조회**

In [24]:
rows = cur.fetchmany(2)

for row in rows:
    print(row)

(28, '양성우', '외야수', '우투좌타', '충암고', 177)
(17, '김범수', '투수', '좌투좌타', '천안북일고', 181)

### **1.4 모두조회**

In [25]:
rows = cur.fetchall()
for row in rows:
    print(row)

(38, '안영명', '투수', '우투우타', '천안북일고', 183)
(36, '장민재', '투수', '우투우타', '광주제일고', 184)
(13, '최재훈', '포수', '우투우타', '덕수고', 178)
(52, '김태균', '내야수', '우투우타', '천안북일고', 185)
(7, ' 송광민', '내야수', '우투우타', '공주고', 184)
(50, '이성열', '내야수', '우투우타', '순천효천고', 185)
(43, '정은원', '내야수', '우투좌타', '인천고', 178)
(8, ' 정근우', '외야수', '우투우타', '부산고', 172)
(25, '최진행', '외야수', '우투우타', '덕수정보고', 188)

### **1.5 필요한 열만 조회**

In [26]:
cur = conn.cursor()
cur.execute('SELECT name FROM Eagles WHERE back_no > 10')  # back_no가 10 초과인 야구선수의 이름 조회
rows = cur.fetchall()

for row in rows:
    print(row)

('최재훈',)
('김범수',)
('최진행',)
('양성우',)
('장민재',)
('안영명',)
('정은원',)
('이성열',)
('김태균',)

In [27]:
cur = conn.cursor()
cur.execute("SELECT * FROM Eagles WHERE position like '내야수'")  # 포지션이 내야수인 야구선수 조회 
rows = cur.fetchall()

for row in rows:
    print(row)

(1, '하주석', '내야수', '우투좌타', '신일고', 184)
(52, '김태균', '내야수', '우투우타', '천안북일고', 185)
(7, ' 송광민', '내야수', '우투우타', '공주고', 184)
(50, '이성열', '내야수', '우투우타', '순천효천고', 185)
(43, '정은원', '내야수', '우투좌타', '인천고', 178)

### **1.6 원하는 순서 및 개수 조회**

In [30]:
cur.execute('SELECT * FROM Eagles ORDER BY height DESC')  # 키에 따른 내림차순 정렬 
rows = cur.fetchall()

for row in rows:
    print(row)

(25, '최진행', '외야수', '우투우타', '덕수정보고', 188)
(52, '김태균', '내야수', '우투우타', '천안북일고', 185)
(50, '이성열', '내야수', '우투우타', '순천효천고', 185)
(1, '하주석', '내야수', '우투좌타', '신일고', 184)
(36, '장민재', '투수', '우투우타', '광주제일고', 184)
(7, ' 송광민', '내야수', '우투우타', '공주고', 184)
(38, '안영명', '투수', '우투우타', '천안북일고', 183)
(17, '김범수', '투수', '좌투좌타', '천안북일고', 181)
(13, '최재훈', '포수', '우투우타', '덕수고', 178)
(43, '정은원', '내야수', '우투좌타', '인천고', 178)
(28, '양성우', '외야수', '우투좌타', '충암고', 177)
(8, ' 정근우', '외야수', '우투우타', '부산고', 172)

In [32]:
cur.execute('SELECT * FROM Eagles ORDER BY height DESC LIMIT 5')  # 키에 따른 내림차순 정렬 top5 
rows = cur.fetchall()

for row in rows:
    print(row)

(25, '최진행', '외야수', '우투우타', '덕수정보고', 188)
(52, '김태균', '내야수', '우투우타', '천안북일고', 185)
(50, '이성열', '내야수', '우투우타', '순천효천고', 185)
(1, '하주석', '내야수', '우투좌타', '신일고', 184)
(36, '장민재', '투수', '우투우타', '광주제일고', 184)

### **1.7 집계 함수**

In [33]:
cur.execute('SELECT count(*) FROM Eagles')
count = cur.fetchall()
print(count)

[(12,)]

In [38]:
# 그룹핑, 집계 함수 

cur = conn.cursor()
cur.execute('SELECT position, count(*), avg(height) FROM Eagles GROUP BY position')  # 포지션별 수, 평균키
rows = cur.fetchall()

for row in rows:
    print(row)

('내야수', 5, 183.2)
('외야수', 3, 179.0)
('투수', 3, 182.66666666666666)
('포수', 1, 178.0)

### **1.8 Placeholder**

In [44]:
cur = conn.cursor()
back_no = 50
cur.execute('SELECT * FROM Eagles WHERE back_no=?;', (back_no,))
player = cur.fetchone() 
print(player) # 50

(50, '이성열', '내야수', '우투우타', '순천효천고', 185)

## **2. 데이터 변경**

- UPDATE table SET field1 = value1, ... WHERE 조건;

In [54]:
cur = conn.cursor()
cur.execute("UPDATE Eagles SET hands ='우투좌타', highschool='미국고', \
            height = 190 WHERE back_no = 30;")
conn.commit()

## **3. 데이터 삭제**

- DELETE FROM table WHERE 조건;

In [56]:
cur = conn.cursor()
cur.execute("DELETE FROM Eagles WHERE back_no = 1;")
conn.commit()

## **4. 데이터 병합**

### **4.1 병합을 위한 준비**

In [74]:
# 테이블 생성 

cur = conn.cursor()
cur.execute('CREATE TABLE IF NOT EXISTS stats \
    (id INT NOT NULL, \
     player TEXT, \
     average REAL, \
     rbi INT, \
     homerun INT, \
     PRIMARY KEY(id));')

In [75]:
# csv 파일 읽기

stats = pd.read_csv('./stats.csv', encoding='EUC-KR')
stats

  player  average  rbi  homerun
0     호잉    0.288   58       15
1    양성우    0.176    6        1
2    최재훈    0.300   23        2
3    김태균    0.308   43        5
4    송광민    0.257   39        6
5    이성열    0.255   62       18
6    정은원    0.281   47        5
7    정근우    0.219   10        2
8    최진행    0.184   14        3

In [80]:
# 데이터베이스에 stats 테이블 추가

cur = conn.cursor()
sql = 'INSERT INTO stats VALUES (?, ?, ?, ?, ?);'
for i in range(9):
    cur.execute(sql, (i+1,
                      stats.iloc[i,0],
                      float(stats.iloc[i,1]),
                      int(stats.iloc[i,2]),
                      int(stats.iloc[i,3])
                     ))
conn.commit() # 변경사항 저장

In [81]:
# 데이터베이스 stats 테이블 확인 

cur = conn.cursor()
cur.execute('SELECT * FROM stats')

for row in cur:
    print(row)

(1, '호잉', 0.28800000000000003, 58, 15)
(2, '양성우', 0.17600000000000002, 6, 1)
(3, '최재훈', 0.3, 23, 2)
(4, '김태균', 0.308, 43, 5)
(5, '송광민', 0.257, 39, 6)
(6, '이성열', 0.255, 62, 18)
(7, '정은원', 0.281, 47, 5)
(8, '정근우', 0.21899999999999997, 10, 2)
(9, '최진행', 0.184, 14, 3)

### **4.2 테이블 병합 및 데이터프레임으로 만들기**

### **4.2.1 데이터베이스에 있는 데이터 확인하기**

In [93]:
# 데이터 병합 후 데이터 확인해보기

sql = "SELECT e.back_no, e.name, e.position, \
        round(s.average, 3), s.rbi, s.homerun \
        FROM Eagles AS e JOIN stats AS s \
        ON e.name like s.player;"

cur = conn.cursor()
cur.execute(sql)

for row in cur:
    print(row)

(28, '양성우', '외야수', 0.176, 6, 1)
(30, '호잉', '외야수', 0.288, 58, 15)
(13, '최재훈', '포수', 0.3, 23, 2)
(52, '김태균', '내야수', 0.308, 43, 5)
(50, '이성열', '내야수', 0.255, 62, 18)
(43, '정은원', '내야수', 0.281, 47, 5)
(25, '최진행', '외야수', 0.184, 14, 3)

### **4.2.2 데이터베이스에 있는 stats를 데이터프레임으로 만들기**

In [132]:
cur = conn.cursor()
cur.execute(sql)

rows = cur.fetchall()
colName = ['등번호', '선수명', '포지션', '타율', '타점', '홈런']

eagles_df = pd.DataFrame(rows, columns = colName)  # 열 이름을 갖는 데이터프레임 생성 
eagles_df

   등번호  선수명  포지션     타율  타점  홈런
0   28  양성우  외야수  0.176   6   1
1   30   호잉  외야수  0.288  58  15
2   13  최재훈   포수  0.300  23   2
3   52  김태균  내야수  0.308  43   5
4   50  이성열  내야수  0.255  62  18
5   43  정은원  내야수  0.281  47   5
6   25  최진행  외야수  0.184  14   3

## **종료하기**

In [136]:
conn.close()