In [107]:
import sqlite3

conn = sqlite3.connect('./test.db')

In [108]:
cur = conn.cursor()
cur.execute('CREATE TABLE IF NOT EXISTS Pitcher \
    (back_no INT NOT NULL, \
     player TEXT, \
     ERA INT, \
     IP REAL, \
     SO INT, \
     PRIMARY KEY(back_no));')

OperationalError: database is locked

In [109]:
import pandas as pd

pitchers = pd.read_csv('./pitcher.csv', encoding='EUC-KR')
pitchers

   back_no player   ERA     IP  SO
0       17    김범수  5.67  81.00  65
1       38    안영명  3.43  44.67  35
2       36    장민재  4.81  91.67  84

In [110]:
cur = conn.cursor()
sql = 'INSERT INTO Pitcher VALUES (?, ?, ?, ?, ?);'

for i in range(3):
    cur.execute(sql, (int(pitcher.iloc[i, 0]),
                      pitcher.iloc[i, 1],
                      int(pitcher.iloc[i, 2]),
                      float(pitcher.iloc[i, 3]),
                      int(pitcher.iloc[i, 4])
                      ))
conn.commit()

OperationalError: no such table: Pitcher

In [ ]:
cur = conn.cursor()
cur.execute('SELECT * FROM pitcher')

data = cur.fetchall()
data

In [ ]:
sql = "SELECT e.back_no, e.name, e.position, \
        p.ERA, p.IP, p.SO \
        FROM Eagles AS e JOIN Pitcher AS p \
        ON e.name like p.player;"

cur = conn.cursor()
cur.execute(sql)

pitcher_join = cur.fetchall()
pitcher_join

In [71]:
colName = ['등번호', '선수명', '포지션', '방어율', '투구이닝', '탈삼진']
pitcher_df = pd.DataFrame(pitcher_join, columns = colName)
pitcher_df

   등번호  선수명 포지션  방어율  투구이닝  탈삼진
0   17  김범수  투수    5    81   65
1   38  안영명  투수    3    44   35
2   36  장민재  투수    4    91   84

In [85]:
conn.close()