In [1]:
# 1. 데이터베이스 접속

import sqlite3

conn = sqlite3.connect('./test.db')

In [9]:
# conn = sqlite3.connect(':memory:')  # 메모리 DB 접속 (일회성)

In [3]:
# 2. 테이블 생성 : (작업영역 선택)

cur = conn.cursor()
cur.execute('CREATE TABLE IF NOT EXISTS Eagles \
    (back_no INT NOT NULL, \
     name TEXT, \
     position TEXT, \
     hands TEXT, \
     highschool TEXT, \
     height INT, \
     PRIMARY KEY(back_no));')

In [4]:
# 2.1 데이터 삽입 1 (추가)

cur = conn.cursor()
cur.execute("INSERT INTO Eagles VALUES \
    (1, '하주석', '내야수', '우투좌타', '신일고', 184), \
    (28, '양성우', '외야수', '우투좌타', '충암고', 177);")

# INSERT INTO table_name (fiel1, file2, ...) VALUES (value1, v2, ... );

In [7]:
# 변경사항 저장 

conn.commit()

In [8]:
# 데이터 삽입 2 

cur = conn.cursor()
cur.execute("INSERT INTO Eagles('back_no', 'name', 'position') \ 
             VALUES (30, '호잉', '외야수');")

SyntaxError: EOL while scanning string literal (<ipython-input-8-685551b02708>, line 4)

In [9]:
# 변경사항 저장 
conn.commit()

In [23]:
# 2.1 테이블 삭제 방법

# cur.execute('DROP TABLE Eagles')

In [10]:
# 3. csv 파일을 데이터베이스에 추가하기 

# 3.1 파이썬으로 csv 파일 읽기 

import pandas as pd

players = pd.read_csv('./players.csv', encoding='EUC-KR')  # 인코딩, 경로 주의 
players

   back_no  name position hands highschool  height
0       17   김범수       투수  좌투좌타      천안북일고     181
1       38   안영명       투수  우투우타      천안북일고     183
2       36   장민재       투수  우투우타      광주제일고     184
3       13   최재훈       포수  우투우타        덕수고     178
4       52   김태균      내야수  우투우타      천안북일고     185
5        7   송광민      내야수  우투우타        공주고     184
6       50   이성열      내야수  우투우타      순천효천고     185
7       43   정은원      내야수  우투좌타        인천고     178
8        8   정근우      외야수  우투우타        부산고     172
9       25   최진행      외야수  우투우타      덕수정보고     188

In [11]:
# 3.2 파이썬에 있는 csv 파일을 데이터베이스에 쓰기

cur = conn.cursor()
sql = 'INSERT INTO Eagles VALUES (?, ?, ?, ?, ?, ?);'
for i in range(10):
    cur.execute(sql, (int(players.iloc[i,0]), # 데이터 타입 주의 
                      players.iloc[i,1], players.iloc[i,2], 
                      players.iloc[i,3], players.iloc[i,4], 
                      int(players.iloc[i,5])))
conn.commit() # 변경사항 저장

# 데이터 조작 언어(Data Manipulation Language, DML)

## **1. 데이터 조회**

### **1.1 순회조회**

In [22]:
cur = conn.cursor()
cur.execute('SELECT * FROM Eagles')
for row in cur:
    print(row)

(1, '하주석', '내야수', '우투좌타', '신일고', 184)
(28, '양성우', '외야수', '우투좌타', '충암고', 177)
(17, '김범수', '투수', '좌투좌타', '천안북일고', 181)
(38, '안영명', '투수', '우투우타', '천안북일고', 183)
(36, '장민재', '투수', '우투우타', '광주제일고', 184)
(13, '최재훈', '포수', '우투우타', '덕수고', 178)
(52, '김태균', '내야수', '우투우타', '천안북일고', 185)
(7, ' 송광민', '내야수', '우투우타', '공주고', 184)
(50, '이성열', '내야수', '우투우타', '순천효천고', 185)
(43, '정은원', '내야수', '우투좌타', '인천고', 178)
(8, ' 정근우', '외야수', '우투우타', '부산고', 172)
(25, '최진행', '외야수', '우투우타', '덕수정보고', 188)

### **1.2 단건조회**

In [23]:
cur=conn.cursor()
cur.execute('SELECT * FROM Eagles')
row = cur.fetchone()
print(row)

(1, '하주석', '내야수', '우투좌타', '신일고', 184)

### **1.3 다건조회**

In [24]:
rows = cur.fetchmany(2)

for row in rows:
    print(row)

(28, '양성우', '외야수', '우투좌타', '충암고', 177)
(17, '김범수', '투수', '좌투좌타', '천안북일고', 181)

### **1.4 모두조회**

In [25]:
rows = cur.fetchall()
for row in rows:
    print(row)

(38, '안영명', '투수', '우투우타', '천안북일고', 183)
(36, '장민재', '투수', '우투우타', '광주제일고', 184)
(13, '최재훈', '포수', '우투우타', '덕수고', 178)
(52, '김태균', '내야수', '우투우타', '천안북일고', 185)
(7, ' 송광민', '내야수', '우투우타', '공주고', 184)
(50, '이성열', '내야수', '우투우타', '순천효천고', 185)
(43, '정은원', '내야수', '우투좌타', '인천고', 178)
(8, ' 정근우', '외야수', '우투우타', '부산고', 172)
(25, '최진행', '외야수', '우투우타', '덕수정보고', 188)

### **1.5 필요한 열만 조회**

In [26]:
cur = conn.cursor()
cur.execute('SELECT name FROM Eagles WHERE back_no > 10')  # back_no가 10 초과인 야구선수의 이름 조회
rows = cur.fetchall()

for row in rows:
    print(row)

('최재훈',)
('김범수',)
('최진행',)
('양성우',)
('장민재',)
('안영명',)
('정은원',)
('이성열',)
('김태균',)

In [27]:
cur = conn.cursor()
cur.execute("SELECT * FROM Eagles WHERE position like '내야수'")  # 포지션이 내야수인 야구선수 조회 
rows = cur.fetchall()

for row in rows:
    print(row)

(1, '하주석', '내야수', '우투좌타', '신일고', 184)
(52, '김태균', '내야수', '우투우타', '천안북일고', 185)
(7, ' 송광민', '내야수', '우투우타', '공주고', 184)
(50, '이성열', '내야수', '우투우타', '순천효천고', 185)
(43, '정은원', '내야수', '우투좌타', '인천고', 178)

### **1.6 원하는 순서 및 개수 조회**

In [ ]:
cur.execute('SELECT * FROM Eagles ORDER BY name')