# **Pandas 시각화 기능**

In [5]:
import numpy as np
import pandas as pd

np.random.seed(0)
df1 = pd.DataFrame(np.random.randn(100, 3),
                  index = pd.date_range('2019-01-01', periods=100),  # 날짜 생성
                  columns=['A', 'B', 'C']).cumsum()

df1.tail()

                    A          B          C
2019-04-06   9.396256   6.282026 -11.198087
2019-04-07  10.086074   7.583872 -11.826175
2019-04-08   9.605047   9.887789 -12.886190
2019-04-09   9.469097  11.024680 -12.788465
2019-04-10  10.052051  10.625231 -12.418409